<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Quiz</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav id="navbar"></nav>
    <main class="grid grid-cols-2 h-[calc(100vh_-_48px)]">
      <div><img src="../images/quiz.jpg" alt="" /></div>
      <div class="flex flex-col items-center text-center my-auto">
        <h1 class="text-4xl font-semibold">Contact Us</h1>
      </div>
    </main>
    <script src="../utils/utils.js"></script>
    <script>
      loadNavbar();
    </script>
  </body>
</html>
