<div
  class="fixed w-full flex justify-between px-2 sm:px-4 py-2 items-center bg-black text-white"
>
  <a href="../index.html" class="flex gap-2 w-40 sm:w-auto items-center" >
    <img src="../images/3a.png" alt="logo" class="w-8 h-8" />
    <h1 class="text-md sm:text-lg ">3A Softwares</h1>
  </a>
  <div style="display: none;" id="remaningTime" class="text-xl"></div>
  <div style="display: none;" id="user-details" class="text-[12px] sm:text-lg"></div>
  <ul class="flex gap-3" id="nav-items" style="display: flex">
    <li><a href="../index.html">Home</a></li>
    <li><a href="../components/result.html">Result</a></li>
  </ul>
</div>